@import "tailwindcss";

:root {
  --background: #0d0f14;
  --foreground: #e0e0e0;
  /* --font-family: var(--font-family);
  --third-family: var(--third-family); */
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-family), sans-serif;
  background-color: var(--background);
  color: var(--foreground);
  background-color: #000017;
  background-position: center;
  background-size: cover;
}

section {
  scroll-margin-top: 50px;
}

.third-font {
  font-family: var(--third-family);
}

button {
  cursor: pointer;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}