@import "tailwindcss";

:root {
  --background: #0d0f14;
  --foreground: #e0e0e0;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-family);
  background-color: #000017;
  /* background-image: url("/img/bg.jpg"); */
  background-position: center;
  background-size: cover;
}

button {
  cursor: pointer;
}
